<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'form.css' %}">
    <title>Food Inventory</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

</head>
<style>
    .row.content {height: 550px; color:red; font-weight:bold;}
    .sidenav {
      background-color: #f1f1f1;

      height: 100%;
    }
    @media screen and (max-width: 767px) {
      .row.content {height: auto;}
    }
  </style>
<body>

<div class="header-div" style="background-image: url('{% static 'header.png' %}');  background-repeat: no-repeat;background-attachment: fixed;
  background-size: contain;">

    <nav>
       <ul>
            <li><a href="/dashboard">Home</a></li>
            <li><a href="/addFoodItem">Add Food Item</a></li>
            <li><a href="/viewItems">View Food Items</a></li>
            <li><a class="bactive" href="/expiryChart">Expiry Statistics</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>
</div>


<div class="container-fluid" style="position:relative; margin:auto; text-align:center;">
    <canvas id="myChart" style="width:50%;"></canvas>

</div>


  <div class="footer">
      <p class="copyright">&#169;Copyright 2024,Food Inventory System</p>
  </div>
<script>

var barColors = ["blue", "blue", "blue", "blue", "blue", "blue"];

new Chart("myChart", {
  type: "bar",
  data: {
    labels: {{ request.session.labels | safe}},
    datasets: [{
      backgroundColor: barColors,
      data: {{status_count}},
      borderColor: "white",
      borderWidth: 1
    }]
  },
  options: {
    legend: {display: true},
    title: {
      display: true,
      text: "Statistics of Expired Food Items with quantity"
    }
  }
});

</script>
</body>
</html>
